# INSTRUCTIONS-

Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of our choice.
We have to handle commonly occurring EXCEPTIONS by using exception handling programing.

In [1]:
#importing all the required libraries-
import pandas as pd 
import selenium
from selenium import webdriver
import time
import requests
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

from selenium.common.exceptions import TimeoutException
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

print("All the libraries are successfully loaded")

All the libraries are successfully loaded

# Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
We need to find following details:
A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [10]:
#loading the webdrivers,URL & maximizing window

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")
driver.implicitly_wait(5)

In [13]:
#click and open the search list

search=driver.find_element_by_id("searchButton")
search.click()

In [16]:
#opting the particular search result

list_search=driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")
list_search.click()

In [18]:
#creating an empty lists to store the scraping data-

Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [20]:
#finding all the details of most viewed videos on youtube by using xpath functionality-

#for ranking-
rank=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for r in rank:
    Rank.append(r.text)
    

#for name-
name=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for n in name:
    Name.append(n.text)
    
    
#for artist-
artist=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for a in artist:
    Artist.append(a.text)
    
    
#for upload date-
upload=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for u in upload:
    Upload_Date.append(u.text)

    
#for views-
views=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for v in views:
    Views.append(v.text)

In [22]:
#now creating the dataframe from the above scraped data-
YOUTUBE=pd.DataFrame({})
YOUTUBE['Rank']=Rank[0:30]
YOUTUBE['Name']=Name[0:30]
YOUTUBE['Artist']=Artist[0:30]
YOUTUBE['Upload_Date']=Upload_Date[0:30]
YOUTUBE['Views']=Views[0:30]

In [23]:
YOUTUBE

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.38
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.41
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.19
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.12
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.90
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.37
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.26
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.07
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.06
20,21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.04
22,23.,"""Bailando""[48]",Enrique Iglesias,"April 11, 2014",3.04
23,24.,"""Girls Like You""[49]",Maroon 5,"May 31, 2018",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.92
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.84
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.82

# Question 2-Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [54]:
#loading the webdrivers,URL & maximizing window

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
driver.get("https://www.bcci.tv/.")
driver.implicitly_wait(5)

In [55]:
#clicking on International dropdown-

driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]').click()

In [56]:
#selecting Features dropdown-

driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]').click()

In [57]:
#creating an empty list for storing the scraped data-

Match_Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [58]:
#finding all the details of  Match-

#for match title
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in title:
    Match_Title.append(i.text)
    
#for series
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for i in series:
    Series.append(i.text)
    
#for place
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in place:
    Place.append(i.text)
    
#for date & month
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)
    
#for time
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)

In [59]:
#creating the dataframe from  the above  scraped data-

BCCI=pd.DataFrame({})
BCCI['Match Title']=Match_Title
BCCI['Series']=Series
BCCI['Place']=Place
BCCI['Date']=Date
BCCI['Time']=Time

In [60]:
BCCI

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18JUNE,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

# Question -3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
    
A)Name

B)Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
#loading the webdriver,URL & maximizing the window-

driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get("https://www.guru99.com/")
driver.implicitly_wait(5)

In [3]:
#Clicking on Selenium
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [4]:
#Clicking on Exception handling
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [5]:
#creating an empty list for storing the scraped data-

Name=[]
Description=[]

In [6]:
#finding all the details of  page-

#for name
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
    
#for description
desc = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in desc:
    Description.append(i.text)

In [7]:
#creating dataframe for the above scrapped data-

GURU=pd.DataFrame({})
GURU["Exception-Name"]=Name
GURU["Description"]=Description

In [8]:
GURU

,Exception-Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [9]:
GURU = GURU.iloc[1: , :]

In [10]:
GURU

,Exception-Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Question 4-Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
    
You have to find following details:

A)Rank

B)State

C)GSDP at current price (19-20)

D)GSDP at current price (18-19)

E)Share(18-19)

F)GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [7]:
#loading the webdriver,URL & maximizing the window-

driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get("http://statisticstimes.com/")
driver.implicitly_wait(5)

In [8]:
#clicking on the economy and then on India from there dropdown-
Economy_India=driver.find_element_by_xpath("//div[@class='dropdown']/div/a[3]")
driver.get(Economy_India.get_attribute('href'))

In [9]:
#clicking on the GDP of Indian states 
GDP_Indian_States=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
driver.get(GDP_Indian_States.get_attribute('href'))

In [14]:
#creating an empty lists to store the scraping data-

Rank=[] 
State=[] 
GSDP_19_20=[] 
GSDP_18_19=[] 
Share=[] 
GDP_billion=[]

In [15]:
#finding all the details of the page one by one-

#for rank-
rank=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
    
    
#for state-
state=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
    
    
#for GSDP at current price(19-20)
gsdp_19_20=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
for i in gsdp_19_20:
    GSDP_19_20.append(i.text)
    
    
#for GSDP at current price(18-19)
gsdp_18_19=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
for i in gsdp_18_19:
    GSDP_18_19.append(i.text)
    
    
#for share(18-19)
share=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
    
    
#for GDP
gdp=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
for i in gdp:
    GDP_billion.append(i.text)

In [16]:
STATS=pd.DataFrame({})
STATS['Rank']=Rank
STATS['State']=State
STATS['GSDP at current price(19-20)']=GSDP_19_20
STATS['GSDP at current price(18-19)']=GSDP_18_19
STATS['Share']=Share
STATS['GDP($)']=GDP_billion

In [17]:
STATS

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share,GDP($)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# Question 5-Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
    
A)Repository title

B)Repository description

C)Contributors count

D)Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [106]:
#loading the webdrivers,URL and maximizing the window-

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
driver.get("https://github.com/")
driver.implicitly_wait(5)

In [107]:
#go to explore menu and clicking on the trending option-

trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [108]:
#creating an empty lists to store scraping data-

Title=[]
Description=[] 
Count=[] 
Language=[]

In [109]:
#Scraping titles-
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    Title.append(i.text)
Title

['PaperMC / Paper',
 'hasura / graphql-engine',
 'neovim / neovim',
 'udacity / nd064_course_1',
 'alpinejs / alpine',
 'madMAx43v3r / chia-plotter',
 'iptv-org / iptv',
 'zzanehip / The-OldOS-Project',
 'ytdl-org / youtube-dl',
 'biancangming / wtv',
 'maziarraissi / Applied-Deep-Learning',
 'jwasham / coding-interview-university',
 'chrxh / alien',
 'the-hyp0cr1t3 / DSA-Training-2021',
 'wuzhi04 / MyActions',
 'yangtingxiao / QuantumultX',
 'MuriungiPatrick / Bootstrap-5-portfolio-template',
 'ashishpatel26 / 500-AI-Machine-learning-Deep-learning-Computer-vision-NLP-Projects-with-code',
 'jina-ai / jina',
 'EbookFoundation / free-programming-books',
 'hlissner / doom-emacs',
 'drawrowfly / tiktok-scraper',
 'Genymobile / scrcpy',
 'atom / atom',
 'nushell / nushell']

In [110]:
#Scraping description
desc=driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for i in desc:
    Description.append(i.text)
Description

['High performance Spigot fork that aims to fix gameplay and mechanics inconsistencies',
 'Blazing fast, instant realtime GraphQL APIs on your DB with fine grained access control, also trigger webhooks on database events.',
 'Vim-fork focused on extensibility and usability',
 'A rugged, minimal framework for composing JavaScript behavior in your markup.',
 'Collection of publicly available IPTV channels from all over the world',
 'Recreating a fully functional version of iOS 4 in SwiftUI.',
 'Command-line program to download videos from YouTube.com and other video sites',
 '解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站',
 'Applied Deep Learning',
 'A complete computer science study plan to become a software engineer.',
 'alien is a GPU-accelerated artificial life simulation program.',
 '脚本，自用',
 'Learning Bootstrap 5 with SASS',
 '500 AI Machine learning Deep learning Computer vision NLP Projects with code',
 'An easier way to build neural search on the cloud',
 'Freely available programming books',
 'An Emacs framework for the stubborn martian hacker',
 'TikTok Scraper. Download video posts, collect user/trend/hashtag/music feed metadata, sign URL and etc.',
 'Display and control your Android device',
 'The hackable text editor',
 'A new type of shell']

In [111]:
#Scraping Language
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None :
        Language.append("--") 
    else:
        Language.append(i.text)

In [112]:
Language

['Shell',
 'Haskell',
 'Vim script',
 'Python',
 'HTML',
 'C',
 'JavaScript',
 'Swift',
 'Python',
 'Python',
 'C++',
 'JavaScript',
 'JavaScript',
 'Python',
 'Emacs Lisp',
 'TypeScript',
 'C',
 'JavaScript',
 'Rust']

In [115]:
#Scraping Count
count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in count:
    Count.append(i.text)

In [116]:
Count

['1,010',
 '1,894',
 '3,262',
 '201',
 '677',
 '436',
 '2,214',
 '124',
 '5,204',
 '352',
 '119',
 '48,418',
 '38',
 '11',
 '58',
 '369',
 '27',
 '1,809',
 '480',
 '42,724',
 '2,003',
 '326',
 '5,177',
 '16,167',
 '590']

In [117]:
print(len(Title),len(Description),len(Count),len(Language))

25 21 25 19

In [118]:
#creating dataframe from the aboove scraped data-

GITHUB=pd.DataFrame({})
GITHUB['Repository-Title']=Title[0:19]
GITHUB['Repository-Description']=Description[0:19]
GITHUB['Contributors-Count']=Count[0:19]
GITHUB['Language-Used']=Language[0:19]

In [119]:
GITHUB

,Repository-Title,Repository-Description,Contributors-Count,Language-Used
0,PaperMC / Paper,High performance Spigot fork that aims to fix ...,"1,010",Shell
1,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...","1,894",Haskell
2,neovim / neovim,Vim-fork focused on extensibility and usability,"3,262",Vim script
3,udacity / nd064_course_1,"A rugged, minimal framework for composing Java...",201,Python
4,alpinejs / alpine,Collection of publicly available IPTV channels...,677,HTML
5,madMAx43v3r / chia-plotter,Recreating a fully functional version of iOS 4...,436,C
6,iptv-org / iptv,Command-line program to download videos from Y...,"2,214",JavaScript
7,zzanehip / The-OldOS-Project,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,124,Swift
8,ytdl-org / youtube-dl,Applied Deep Learning,"5,204",Python
9,biancangming / wtv,A complete computer science study plan to beco...,352,Python
10,maziarraissi / Applied-Deep-Learning,alien is a GPU-accelerated artificial life sim...,119,C++
11,jwasham / coding-interview-university,脚本，自用,"48,418",JavaScript
12,chrxh / alien,Learning Bootstrap 5 with SASS,38,JavaScript
13,the-hyp0cr1t3 / DSA-Training-2021,500 AI Machine learning Deep learning Computer...,11,Python
14,wuzhi04 / MyActions,An easier way to build neural search on the cloud,58,Emacs Lisp
15,yangtingxiao / QuantumultX,Freely available programming books,369,TypeScript
16,MuriungiPatrick / Bootstrap-5-portfolio-template,An Emacs framework for the stubborn martian ha...,27,C
17,ashishpatel26 / 500-AI-Machine-learning-Deep-l...,"TikTok Scraper. Download video posts, collect ...","1,809",JavaScript
18,jina-ai / jina,Display and control your Android device,480,Rust

# Question- 6 Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [124]:
#loading the webdrivers,URLs and maximizing the window-

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
driver.get("https://www.billboard.com/")
driver.implicitly_wait(5)

In [125]:
#go to charts option & then clicking on the Top 100 Songs-
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

In [126]:
#creating an empty list to store the scrapped date-

Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_on_board=[]

In [128]:
#finding all the details of the page-

#for song name-
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)
    
    
#for srtist name-
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)
    
#for last week rank-
lastrank = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastrank:
    Last_Week_Rank.append(i.text)
    
    
#for peak rank-
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)
    
    
#for weeks on board-
week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in week:
    Weeks_on_board.append(i.text)

In [130]:
#creating the dataframe from the above scraped data-

BILLBOARD=pd.DataFrame({})
BILLBOARD['Song-name']=Song_Name[0:100]
BILLBOARD['Artist-name']=Artist_Name[0:100]
BILLBOARD['Last week-rank']=Last_Week_Rank[0:100]
BILLBOARD['Peak-rank']=Peak_Rank[0:100]
BILLBOARD['Weeks on board']= Weeks_on_board[0:100]

In [131]:
BILLBOARD

,Song-name,Artist-name,Last week-rank,Peak-rank,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# Question -7 Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
    
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [133]:
#loading the webdrivers,URL and maximizng the window-

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
driver.get("https://www.naukri.com/")
driver.implicitly_wait(5)

In [134]:
#go to recruiter option-
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

#finding serach bar and entering 'Data science' and clicking it-
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science')
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [135]:
#creating an empty lists to store the scraping data-

Name=[]
Designation=[] 
Company=[] 
Skillset=[] 
Location=[]

In [136]:
#finding all the details of the page-

#for name-
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
    

#for designation-
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
    
    
#for company-
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
    

#for skillset they are hiring for-
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skillset.append(i.text)
    
    
#for loacation-
location = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in location:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [137]:
#checking the length of the scrape data
print(len(Name),len(Designation),len(Company),len(Skillset),len(Location))

50 50 50 50 48

In [138]:
#creating the dataframe from the above scraped data-

NAUKRI=pd.DataFrame({})
NAUKRI['Name']=Name[0:48]
NAUKRI['Designation']=Designation[0:48]
NAUKRI['Company']=Company[0:48]
NAUKRI['Skills Hiring']= Skillset[0:48]
NAUKRI['Location']=Location[0:48]

In [139]:
NAUKRI

,Name,Designation,Company,Skills Hiring,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai

# Question -8 Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [140]:
#loading the webdrivers,URL & maximizing the window-

driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.implicitly_wait(5)

In [141]:
#creating an empty lists to store the scraping data-

Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

In [142]:
#finding all the details of the page-

#for book name-
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)
    
    
#for author name-
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
    
    
#for volumes sold-
volume = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    Volumes_Sold.append(i.text)
    
    
#for publisher-
publisher = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)
    
    
#for genre-
genre = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [145]:
#creating the dataframe from the above scraped data-

NOVEL=pd.DataFrame({})
NOVEL['Book-Name']=Book_Name
NOVEL['Author-Name']= Author_Name
NOVEL['Volumes-Sold']=Volumes_Sold
NOVEL['Publisher']=Publisher
NOVEL['Genre']=Genre

In [146]:
NOVEL

,Book-Name,Author-Name,Volumes-Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question - 9Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [147]:
#loading the webdrivers,URL and maximizing the window-

driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get("https://www.imdb.com/list/ls095964455/")
driver.implicitly_wait(5)

In [148]:
#creating an empty lists to store the scraping data-

Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

In [149]:
#finding all the details of the page-


#for name-
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
    
#for year span-
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_Span.append(i.text)
    
#for genre-
genre = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre:
    Genre.append(i.text)
    
#for runtime-
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in runtime:
    Run_Time.append(i.text)
    
    
#for ratings-
rating = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in rating:
    Ratings.append(i.text)
    
#for votes-
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [150]:
#creating the dataframe from the above scraped data-

IMDB=pd.DataFrame({})
IMDB['Name']=Name
IMDB['Year Span']= Year_Span
IMDB['Genre']=Genre
IMDB['Run Time']= Run_Time
IMDB['Ratings']=Ratings
IMDB['Votes']=Votes

In [151]:
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,568"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,337"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,269"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,619"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,932"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,558"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,052"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,604"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,873"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,319"

# Question- 10.Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [152]:
#loading the web drivers,URL and maximizng the window-

driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get("https://archive.ics.uci.edu/")
driver.implicitly_wait(5)

In [155]:
#got to view all datsets and click on it -

dataset=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    dataset.click()
except ElementNotInteractableException:
    driver.get(show.get_attribute('href'))

In [156]:
#creating an empty lists to store the scraping data-

Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
Instances=[] 
Attribute=[] 
Year=[]

In [165]:
#finding all the details of the page UCL-
#note here - we are calling xpath functionality twice for evry lists because there is two different way stored in the table, you can observe that one is in white  sape & another one in blue shape



#for dataset name-
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)
names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    Dataset_Name.append(i.text)


#for data type-
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
datatypes = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatypes:
    Data_Type.append(i.text)
    
    
#for task-
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
tasks = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tasks:
    Task.append(i.text)
    
    
#for attribute types-
typ = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in typ:
    Attribute_Type.append(i.text)
types = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in types:
    Attribute_Type.append(i.text)
    
    
#for number of instanaces-
instance = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in instance:
    Instances.append(i.text)
instances = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in instances:
    Instances.append(i.text)
    
    
#for number of attributes-
attribute = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in attribute:
    Attribute.append(i.text)
attributes = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in attributes:
    Attribute.append(i.text)    
    
#for years-
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
years = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in years:
    Year.append(i.text)

In [167]:
#checking the length of the scraped data-

print(len(Dataset_Name),len(Data_Type),len(Task),len(Attribute_Type),len(Instances),len(Attribute),len(Year))

886 593 300 886 886 886 886

In [168]:
#creating the dataframe from the above scraped data-

UCI=pd.DataFrame({})
UCI['Dataset Name']=Dataset_Name[0:100]
UCI['Data Type']=Data_Type[0:100]
UCI['Task']=Task[0:100]
UCI['Attribute Type']=Attribute_Type[0:100]
UCI['No of Instances']=Instances[0:100]
UCI['No of Attribute']= Attribute[0:100]
UCI['Year']=Year[0:100]

In [169]:
UCI

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,Categorical,37711,294,1998
4,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
...,...,...,...,...,...,...,...
95,Opinosis Opinion ⁄ Review,"Multivariate, Time-Series",Regression,,51,,2010
96,Cardiotocography,Multivariate,Classification,Real,2126,23,2010
97,Spoken Arabic Digit,Text,Classification,Real,8800,13,2010
98,AutoUniv,Multivariate,Regression,"Categorical, Integer, Real",,,2010
99,MiniBooNE particle identification,"Multivariate, Time-Series",,Real,130065,50,2010

# COMPLETED-->>