# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. We have to scrape first 10 jobs data.

In [1]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets first connect to the web browser-

driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
#finding element for job search for data analyst using id function.

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
#finding element for job location for banglore location.

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [7]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

So, now lets create 4 empty lists. In these lists the data will be sorted while scrapping.
We have created 4 empty lists for 4 features which we hv to extract

1- job titles

2- company names

3- location list

4- experience list

In [8]:
#extracting all the tags havng job titles

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="96bc19e6-fae3-457f-bbdb-d0b9f14d35e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="4c57b4d6-133e-47e2-b6b8-32a4dd4ea019")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="531fc74c-53c5-424d-b2ea-306adf305c00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="b65083cb-aecb-408d-ba2f-310358a130e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="c4a9641c-068f-409c-a1c7-f655831f9a78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="462d9fcf-88d2-44fa-b40f-007c95e94877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="53f12d33-4c20-41c7-be1e-7cf3154d3621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="8b4716d9-3b2e-4624-b509-4b403659add2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="b2ace3f0-3752-47f5-b3c4-a227ba27866b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="facb6582-295d-4693-acbf-b3d24abc7790")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="856157ea-8f2a-4a66-8174-cbfd547abcb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="3b2b012a-7261-4555-8790-9ddaa1ef00d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="5a6126e9-c343-409e-9451-0038eeb8be28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="6cc115ed-a557-4cc4-abc3-20dd5ceb4cf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="2b7b811d-5ebf-4034-af25-94006111250c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="f7316e60-3afc-4115-b6fe-a5f6350baec8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="ea73441c-19ff-486c-b74a-0b65d45bb786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="e1b10f39-8a58-4f17-8439-b00928a2c375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="4bf8c5cd-a8d1-470d-ac1a-d06a108b28a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="ba16d272-959b-46fc-b1ac-76cc1a6ec5fd")>]

In [9]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'LTI Hiring Business Data Analyst - Risk Reporting',
 'Senior/Regular Business Analyst / Data Analyst',
 'Cybersecurity Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst']

In [10]:
#so lets extract all the tags having the company names-

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="cec0ed2e-2155-44b9-b4c1-27e6f8d7017f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="6c615b44-7890-4aea-b5a6-90594528fe19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="9556c7a2-eeeb-4c60-a0ff-c8ea3d2b0731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="c2ca1157-f404-4bd7-8e1c-37a57752c354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="c4c8a3f3-ced5-4a0b-b029-89c640e08b3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="74020275-b2df-45c7-89f7-d5ad43d4bfc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="41d482c8-0c65-4a2a-8dcd-286385ef4592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="cbf06e0a-7017-4481-9fcd-066ac6a9790c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="549be8da-7648-4afd-9eb1-ce336aee9092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="dc6399f4-8994-4cfa-b913-4749e0cc8ed3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="d7103991-d4a3-4a82-934c-9b625c4ffca9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="6f985e3e-a577-4308-9dd5-82f252769d6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="b07af4ba-9063-4817-a860-e0a981174e9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="30b40094-c0bf-413c-a52f-a06ac899db0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="175b819b-031f-46d3-88d9-658c74c2cea6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="1ec0aeac-cf69-4e00-9a74-3f26bf49f958")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="5794f5e0-b3c3-4064-8d78-bb4aeb34166d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="9dffce7c-cd41-4345-bb1f-9440b1fffd6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="893e1829-7631-4011-bd7e-424ea2c5380e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="632c2082-2bd6-493d-8181-98f4507f3527")>]

In [11]:
comp_names=[]
for i in companies_tags:
    comp_names.append(i.text)
comp_names

['Inflexion Analytix Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'Larsen & Toubro Infotech Limited',
 'Luxoft',
 'Huawei Technologies India Pvt Ltd',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited']

In [12]:
#lets extract the experience required

exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="fefc781b-780f-4002-9fee-69969a39c06f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="e396ff0d-fe9b-4b25-8516-e837a42f71b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="5f591f48-c292-40da-8564-35d0dee25a46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="f5e8a77a-96b3-40f6-a6a6-06b7179af647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="323f9c77-9633-47ea-9e48-ae38e60afff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="9648eeaa-f8f6-4f9b-98f2-961f899298ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="abd0b248-4773-4ae7-96a1-3b15326ab030")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="5ff5a2bc-15d5-4439-bb29-fe2a9095433f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="e102608b-988b-4b7a-88c3-f0a7f5d557cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="bbab40e9-f893-47e1-9d1e-e2837e81d8a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="f06c0484-00d8-4dc5-9076-0bad7a2afae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="67d2d40e-e610-48bf-86b9-2f3d42b770a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="9ab65476-fe4b-4aa5-96ae-df51fb6542fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="8292ba89-b13d-4bfa-9de2-3c0fc9c90904")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="c1064ce9-043e-4d8d-ad22-2f82df7b6a17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="19fb0b57-ce85-4d6f-855e-df892a394a21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="06f41c48-377c-4beb-9e44-7b470848586d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="b90c2a7b-e149-42a0-89e9-462ab74acefc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="8d43c2c0-c063-441e-b1a8-e7dc8f50a628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="24f8367a-02c0-40b3-9ced-af20e0ed03e8")>]

In [13]:
exp_yr=[]
for i in exp_tags:
    exp_yr.append(i.text)
exp_yr

['0-3 Yrs',
 '0-5 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '7-10 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs']

In [14]:
#lets extract the location field

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="d1330cf2-96ce-4f55-b699-89ce85aa4d2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="c178389d-f303-4561-9a67-456fcbd37c1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="f25ed024-90bb-4844-babf-1aa8e67cc71b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="2d2b882d-6ebd-4fcc-807b-add76ad1ed41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="c6297ce4-cdb3-4eb2-a2fa-b41c75affd35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="14b0b080-3ebd-441b-b3ed-cc3d48a88e6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="a4661506-9bf4-431a-a61a-6e1d397ee044")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="5672a069-f604-435e-a6f9-83330bc19c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="09313f3a-23d0-441d-ae71-3397f2d7c6d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="172fd53d-80b5-46cf-a8f1-ce7e08e94ee7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="a780ed0f-2ac1-4168-aa28-8c127fc668fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="d2b460ca-3be2-4b19-9b7e-7bd4370f3282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="5c58e172-ca64-40e1-8dff-b88d4444f3c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="84aaf7e7-af37-434b-8fd9-638be7230cd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="0a7a7b58-571b-4036-b846-2b2ef8af14fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="82ee919d-b3fa-4c03-9eab-44b9491652e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="65a037ee-2629-48bb-8bdc-6d37ee9af0e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="520b03a4-534e-49c5-b2d3-e313b1417594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="b637f618-241a-4711-abd2-706c4d64828f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dca9152ab1668c363d172421875416dd", element="42f5cf82-2d81-4903-b340-04a06be7840a")>]

In [15]:
loc_name=[]
for i in loc_tags:
    loc_name.append(i.text)
loc_name

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
#length of each tags
print(len(job_titles),len(comp_names),len(exp_yr),len(loc_name))

20 20 20 20

In [17]:
#Creating dataframe for top 10 jobs searches.
import pandas as pd
jobs=pd.DataFrame({})
jobs['TITLE']=job_titles[:10]
jobs['LOCATION']=loc_name[:10]
jobs['COMPANY']=comp_names[:10]
jobs['EXPERIENCE']=exp_yr[:10]

In [18]:
jobs

,TITLE,LOCATION,COMPANY,EXPERIENCE
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
3,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
4,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs
5,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
6,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description.We have to scrape first 10 jobs data.

In [19]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)

In [20]:
#finding element for job search for data scientist using id function.

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job
search_job.send_keys("Data Scientist")

In [21]:
#finding element for job location for banglore location.

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [22]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

So, now lets create 4 empty lists. In these lists the data will be sorted while scrapping.
We have created 4 empty lists for 4 features which we hv to extract

1- job titles

2- job location

3- company name

4- job full description

In [23]:
#extracting all the tags havng job titles

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [24]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Senior Data Scientist - Credit risk',
 'Big Data - Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Hiring For Lead data Scientist For Bangalore location',
 'Senior Data Scientist',
 'Senior Data Scientist - Kinara Capital',
 'Senior Data Scientist, Marketing Analytics',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Principal Data Scientist',
 'Lead Data Scientist /Sr. Data Scientist']

In [25]:
#so lets extract all the tags having the company names-

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [26]:
comp_names=[]
for i in companies_tags:
    comp_names.append(i.text)
comp_names

['Inflexion Analytix Private Limited',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems',
 'Xoriant Solutions Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'Gojek Tech',
 'GO-JEK India',
 'Societe Generale',
 'Kinara Financial Private Limited',
 'Kinara Financial Private Limited',
 'Hudsons Bay Company',
 'Applied Materials',
 'o9 Solutions Management India Private Limited',
 'NetApp',
 'BDITDOMAIN']

In [27]:
#lets extract the location field

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [28]:
loc_name=[]
for i in loc_tags:
    loc_name.append(i.text)
loc_name

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [29]:
#lets extract the full job description

from selenium.common.exceptions import  NoSuchElementException
urls=[]
job_description=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_description.append(description)
    except NoSuchElementException :
        job_description.append("Not Available")
job_description

["Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description\nWe wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.\n\nResponsibilities:\nDeliver as a part of our consultant team in driving high quality results on custom project work\nEnsure effective and timely delivery of project work\nWork towards understanding statistical models and deliver business insights and findings\nEnsure compliance to Marketing Mix Modeling modeling practices and company quality standards\nMaximize the efficient and effective use of resources by utilizing appropriate processes and tools\nTo build and maintain effective contacts with other departments to ensure the efficient and effective use of resources\nLiaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled\nWork with co/ third party modellers to deliver business insights and findings\n\nQualifications and Skills\n2-5 years of relevant experience\nMasters degree in Economics, Mathematics, Statistics, Engineering\nIn-depth understanding of statistical modeling techniques and applications\nGood and working knowledge of any statistical languages like SAS, R, Pythons\nSolid proficiency of decision making and problem resolution skills\nPassion for results with a challenger mindset\n\nAbout the Team:\nGlobal Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.\n\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaStrategy, Management Consulting, Corporate Planning\nEmployment TypeFull Time, Permanent\nRole CategoryCorporate Planning/Consulting/Strategy\nEducation\nPG :MS/M.Sc(Science) in Statistics, Maths, M.A in Economics, MBA/PGDM in Any Specialization\nKey Skills\nPredictive ModelingSASSegmentationK-MeansStatisticsOptimizationRandom ForestRMarketing Mix ModelingLinear RegressionStatistical ModelingBusiness InsightsMarket Research',
 'Not Available',
 'Not Available',
 'Job description\n\nResponsibilities and duties Focus on developing clear and concise analytical approach for problem solving with client partnership\nStrong understanding of ML libraries and applications e.g. Neural Net, SVMs, boosting methods and implementation using R/Python. Should have academic paper level understanding of math e.g. linear algebra, calculus etc.\nAbility to code on SAS/R for data munging, analysis and insights and/or languages like Python for creating efficient production ready code\nManaging delivery of projects including timely communication, setting milestones and tracking Generating actionable insights for business/KPI improvements Ability to work independently, structure analyses and handle multiple priorities Develop and Maintaining Credit Risk Models Strategies Rich experience in at least one production ready deployment of Machine Learning algorithms is a plus. Experience in working on real life large messy dataset to solve real business problems. Kaggle experience is a plus.\n  Skills Competencies: Experience in Financial Services/ Fintech/ BFSI along with Credit Risk in Retail Banking and Data Science 5 years of experience in building predictive models (Application Scorecard, Behaviour Scorecard, Collection Score Card, Loan Pricing, Loss Forecasting, Cross Sell Model) Experienced Statistical software skills (e.g. SAS, R, Python Strong understanding of ML libraries and applications. Strong experience in leading credit risk model development, validation, deployment, and documentation Analytically oriented with ability to grasp complex risk management strategies, processes, models and draw insights / identify areas of opportunity\nStrong track record of delivering on high value / critical projects. Ability to communicate with senior stakeholders crisply and confidently on findings, status, bottlenecks, and escalations\nProven track record of delivering in a start-up environment would be a plus Strong written and oral communication skills\nRoleOutside Technical Consultant\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - System Programming\nEmployment TypeFull Time, Permanent\nRole CategorySystem Design/Implementation/ERP/CRM\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nCVSBfsiAnalyticalMachine learningCredit riskData miningRisk managementForecastingFinancial servicesPython',
 'Not Available',
 'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\n\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\nJob Title: Lead Data Scientist\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage\nRoleAnalytics Manager\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nRnnAlgorithmsLstmArtificial IntelligenceData ScientistBig DataData MiningStatistical AnalysisDeep LearningPython',

In [30]:
#length of each tags
print(len(job_titles),len(comp_names),len(job_description),len(loc_name))

20 20 10 20

In [31]:
#Creating dataframe for top 10 data scientist jobs searches.
import pandas as pd
jobs=pd.DataFrame({})
jobs['TITLE']=job_titles[:10]
jobs['LOCATION']=loc_name[:10]
jobs['COMPANY']=comp_names[:10]
jobs['JOB_DESCRIPTION']=job_description[:10]

In [32]:
jobs

,TITLE,LOCATION,COMPANY,JOB_DESCRIPTION
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description\nWe wont say we can predict th...
2,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Not Available
3,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Not Available
4,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Job description\n\nResponsibilities and duties...
5,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,Not Available
6,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
7,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
8,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,Not Available
9,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description\n\n\nWe are seeking an outstan...

# Q3: In this question we have to scrape data using the filters available on the webpage as over on location- Delhi/NCR and salary range from 3-6 lakhs

In [48]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)

In [49]:
#finding element for job search for data scientist using id function.

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [50]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [51]:
#creating filter for job location 
import time

fil_loc = driver.find_element_by_xpath('//span[@title="Delhi / NCR"]').click()
time.sleep(5)

In [52]:
#creating filter for salary range-

fil_sal =  driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]').click()
time.sleep(5)

In [53]:
#lets extract the company name
comp_name=[]
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_name:
    comp_name.append(i.text)

In [54]:
#lets extract the location
comp_loc=[]
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location:
    comp_loc.append(i.text)

In [55]:
#lets extract the job title
title=[]
job_titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in job_titles:
    title.append(i.text)

In [56]:
#lets extract the experience required
exp=[]
experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in experience:
    exp.append(i.text)

In [57]:
print(len(comp_name),len(comp_loc),len(title),len(exp))

20 20 20 60

In [58]:
#Let's create a DataFrame for our data
jobs=pd.DataFrame({})
jobs['Job Title']=title[0:10]
jobs['Company Name']=comp_name[0:10]
jobs['Job Location']=comp_loc[0:10]
jobs['Experience']=exp[0:10]

In [83]:
jobs

,Job Title,Company Name,Job Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...","3,50,000 - 4,50,000 PA."
2,Excellent opportunity For Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru","Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
3,Data Scientist,Mobikwik,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR","5,00,000 - 6,00,000 PA."
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR","Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
6,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,3-7 Yrs
7,Data Scientist - Noida/ B'lore,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru","50,000 - 3,00,000 PA."
8,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...","Noida, Bangalore/Bengaluru"
9,Data Scientist,Cloudstrats Technologies Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. And, from the webpage https://www.glassdoor.co.in/index.htm

In [42]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.glassdoor.co.in/index.htm")
driver.get(url)

In [44]:
#If we go to the glassdoor page we can see that, to navigate into the page we have to login first.So, just click on the sign-in button for logining.

driver.find_element_by_xpath('//button[@class="d-flex align-items-center justify-content-center order-1 order-md-2 mr-auto mr-md-0 p-0 LockedHomeHeaderStyles__signInButton"]').click()

In [36]:
#Note- here we are doing manually log in as discussed in the today's class, but we can also do this by creating new account with .click() function.

In [37]:
#extracting company name-

#from selenium.common.exceptions import ElementNotInteractableException
#try:
    #comp_name = driver.find_element_by_id("SearchForm")
    #comp_name.send_keys("Data Scientist")
    
#except ElementNotInteractableException as e:
    #print("Exception Raised: ", e)
    #cn = driver.find_element_by_xpath("//input[@class='css-1etjok6]")
    #cn.send_keys("Data Scientist")

In [45]:
#Finding the fields from the search bars of job and location.

job_search=driver.find_element_by_id('sc.keyword')
location_search=driver.find_element_by_id('sc.location')

In [46]:
#we want to search for data scientist position at noida location

job_search.send_keys("Data Scientist")
location_search.send_keys("Noida")

In [47]:
#using the search button and clicking it

driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

In [48]:
#url of the webpage to be scraped from the data-


url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
driver.get(url)

In [49]:
#extracting the company name-

name=[]
comp_name=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
for i in comp_name:
    name.append(i.text)
name

['Bechtel',
 'MasterCard',
 'Mansha Solutions',
 'Ericsson',
 'Lantern Digital Services',
 'Biz2Credit Inc',
 'Sparkbpl',
 'Boston Consulting Group',
 'Priority Vendor',
 'Skyjobs hr services',
 'Gauge Data Solutions',
 'SearchUrCollege',
 'Techlive',
 'WishFin',
 'Webhelp',
 'xtLytics',
 'Salasar New Age Technologies',
 'Siemens Technology and Services Private Limited',
 'Ank Aha',
 'Mahajan Imaging',
 'Fitfyles',
 'Sentieo',
 'Profisor Services',
 'EnglishHelper',
 'Analytics Vidhya',
 'ESRI, Inc.',
 'Team Computers',
 'Nihilent',
 'Knoldus Inc',
 'Axslogic',
 'Innovacer']

In [50]:
#extracting the days before job published-

date=[]
pub_date=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in pub_date:
    date.append(i.text)
date

['13d',
 '19d',
 '6d',
 '11d',
 '4d',
 '19d',
 '10d',
 '25d',
 '10d',
 '3d',
 '10d',
 '10d',
 '17d',
 '21d',
 '3d',
 '25d',
 '22d',
 '26d',
 '10d',
 '10d',
 '10d',
 '12d',
 '10d',
 '5d',
 '10d',
 '19d',
 '26d',
 '19d',
 '9d',
 '8d',
 '2d']

In [58]:
#extracting the rating of the company-

rating=[]
rate=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in rate:
    rating.append(i.text)
rating

['4.0',
 '3.1',
 '5.0',
 '4.1',
 '3.8',
 '3.7',
 '3.8',
 '4.0',
 '4.1',
 '4.0',
 '4.5',
 '3.9',
 '4.1',
 '2.3',
 '3.6',
 '4.1']

In [59]:
print(len(name),len(date),len(rating))

31 31 16

In [61]:
#Creating a  dataframe for our data
jobs=pd.DataFrame({})
jobs['Company name']=name[:10]
jobs['Days posted before']=date[:10]
jobs['Rating of the Organization']=rating[:10]

In [62]:
jobs

               Company name Days posted before Rating of the Organization
0                   Bechtel                13d                        4.0
1                MasterCard                19d                        3.1
2          Mansha Solutions                 6d                        5.0
3                  Ericsson                11d                        4.1
4  Lantern Digital Services                 4d                        3.8
5            Biz2Credit Inc                19d                        3.7
6                  Sparkbpl                10d                        3.8
7   Boston Consulting Group                25d                        4.0
8           Priority Vendor                10d                        4.1
9       Skyjobs hr services                 3d                        4.0

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.We have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. And, this is we have to do from the webpage- https://www.glassdoor.co.in/Salaries/index.htm

In [63]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.glassdoor.co.in/index.htm")
driver.get(url)

In [64]:
#Finding the fields from the search bars of job and location.

job_search=driver.find_element_by_id('scKeyword')
location_search=driver.find_element_by_id('scLocation')

In [65]:
#we want to search for data scientist position at noida location

job_search.send_keys("Data Scientist")
location_search.send_keys("Noida")

In [68]:
#using the search button and clicking it

driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

In [69]:
URL="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"
driver.get(URL)

In [72]:
#extracting the company name-

name=[]
comp_name=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
for i in comp_name:
    name.append(i.text)
name[:10]

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [73]:
#extracting the average salry-
average=[]
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
for i in avg_sal:
    average.append(i.text)
average[:10]

['₹ 6,11,228\n/yr',
 '₹ 11,46,533\n/yr',
 '₹ 8,97,795\n/yr',
 '₹ 7,38,057\n/yr',
 '₹ 12,39,781\n/yr',
 '₹ 13,36,142\n/yr',
 '₹ 8,15,192\n/yr',
 '₹ 11,35,221\n/yr',
 '₹ 11,44,243\n/yr',
 '₹ 14,13,288\n/yr']

In [78]:
#extracting the minimum salary-

minimum=[]
min_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[1]")
for i in min_sal:
    minimum.append(i.text)
minimum[:10]

['₹343K',
 '₹577K',
 '₹586K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K']

In [79]:
#extracting the maximum salary-

maximum=[]
max_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[2]")
for i in max_sal:
    maximum.append(i.text)
maximum[:10]

['₹1,095K',
 '₹2,213K',
 '₹2,730K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K']

In [80]:
rating="Not Available"

In [81]:
print(len(name),len(average),len(minimum),len(maximum))

20 20 20 20

In [82]:
# Let's create a DataFrame for our data
Salary=pd.DataFrame({})
Salary['Company Name']=name[:10]
Salary['Avgerage Salary']=average[:10]
Salary['Minimum Salary']=minimum[:10]
Salary['Maximum Salary']=maximum[:10]
Salary['Rating of the organization']=rating[:10]

In [83]:
Salary

,Company Name,Avgerage Salary,Minimum Salary,Maximum Salary,Rating of the organization
0,Tata Consultancy Services,"₹ 6,11,228\n/yr",₹343K,"₹1,095K",Not Availa
1,Accenture,"₹ 11,46,533\n/yr",₹577K,"₹2,213K",Not Availa
2,IBM,"₹ 8,97,795\n/yr",₹586K,"₹2,730K",Not Availa
3,Ericsson-Worldwide,"₹ 7,38,057\n/yr",₹355K,"₹1,613K",Not Availa
4,Delhivery,"₹ 12,39,781\n/yr",₹450K,"₹11,622K",Not Availa
5,UnitedHealth Group,"₹ 13,36,142\n/yr","₹1,069K","₹1,520K",Not Availa
6,Valiance Solutions,"₹ 8,15,192\n/yr",₹502K,"₹1,465K",Not Availa
7,ZS Associates,"₹ 11,35,221\n/yr",₹202K,"₹1,809K",Not Availa
8,EXL Service,"₹ 11,44,243\n/yr",₹575K,"₹1,520K",Not Availa
9,Optum Global Solutions,"₹ 14,13,288\n/yr","₹1,014K","₹2,149K",Not Availa

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. We have to scrape four attributes:1. Brand, 2. Product Description, 3. Price, 4. Discount %

In [84]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.flipkart.com/")
driver.get(url)
driver.implicitly_wait(10)

In [86]:
driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
driver.find_element_by_xpath('//button[@type="submit"]').click()
time.sleep(3)

In [89]:
#creating 4 empty list for storing our specific data's-
brand=[]
description=[]
price=[]
discount=[]

In [93]:
#scrape the whole data-

i=0
while i<3:
    time.sleep(5)
    company=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for j in company:
        brand.append(j.text)
        
    dscrptn=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
    for k in dscrptn:
        description.append(k.text)
        
    prc=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for z in prc:
        price.append(z.text)
        
    dscnt=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for x in dscnt:
        discount.append(x.text)
    
    
    if i==0:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    elif i==1:
        driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
    else:
        pass
    i=i+1

In [94]:
#creating a DataFrame for our data
Sunglasses=pd.DataFrame({})
Sunglasses['Brand-Name']=brand[:100]
Sunglasses['Description of product']=description[:100]
Sunglasses['Amount']=price[:100]
Sunglasses['Discount on product']=discount[:100]

In [95]:
Sunglasses

,Brand-Name,Description of product,Amount,Discount on product
0,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹331,80% off
1,bulgaria,Others Rectangular Sunglasses (Free Size),₹399,42% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,DEIXELS,UV Protection Round Sunglasses (Free Size),₹209,73% off
96,Singco India,UV Protection Aviator Sunglasses (Free Size),₹339,71% off
97,Villain,Others Retro Square Sunglasses (Free Size),₹599,20% off
98,Fastrack,UV Protection Wayfarer Sunglasses (56),₹759,15% off
99,like future,"UV Protection, Polarized, Gradient, Mirrored W...",₹284,71% off

In [96]:
Sunglasses[50:56]

,Brand-Name,Description of product,Amount,Discount on product
50,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
51,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
52,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
53,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,85% off
54,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
55,DEIXELS,UV Protection Round Sunglasses (Free Size),₹209,73% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [97]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace")
driver.get(url)
time.sleep(5)

In [98]:
#creating empty list for saving data-
rating=[]
review_summary=[]
full_review=[]

In [99]:
#scraping the data
i=0
while i<10:
    rate=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for j in rate:
        rating.append(j.text)
        
    rev=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for k in rev:
        review_summary.append(k.text)
        
    full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for z in full_rev:
        full_review.append(z.text)
    
    time.sleep(10)    
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(10)
    i=i+1
    time.sleep(10)

In [100]:
# Let's create a DataFrame for our data
IPHONE=pd.DataFrame({})
IPHONE['Rating']=rating[:100]
IPHONE['Review-Summary']=review_summary[:100]
IPHONE['Full-Review']=full_review[:100]

In [101]:
IPHONE

,Rating,Review-Summary,Full-Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Terrific,Really worth of money. i just love it. It is t...
96,5,Highly recommended,It's my first time to use iOS phone and I am l...
97,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
98,5,Wonderful,This is my first ever I phone. Before this I w...
99,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

In [102]:
IPHONE[33:39]

,Rating,Review-Summary,Full-Review
33,4,Nice product,Awesome Phone. Slightly high price but worth. ...
34,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
35,5,Terrific,Really worth of money. i just love it. It is t...
36,5,Highly recommended,It's my first time to use iOS phone and I am l...
37,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
38,5,Wonderful,This is my first ever I phone. Before this I w...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :1. Brand, 2. Product Description, 3. Price, 4. discount %

In [103]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.flipkart.com/")
driver.get(url)
driver.implicitly_wait(10)

In [104]:
driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
driver.find_element_by_xpath('//button[@type="submit"]').click()
time.sleep(3)

In [105]:
#creating empty list for saving our data
brand_name=[]
description=[]
price=[]
discount=[]

In [106]:
#scraping the data
i=0
while i<3:
    
    time.sleep(5)
    
    brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for j in brand:
        brand_name.append(j.text)
        
    dscrptn=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
    for k in dscrptn:
        description.append(k.text)
        
    prc=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for x in prc:
        price.append(x.text)
        
    dscnt=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for z in dscnt:
        discount.append(z.text)
    
    if i==0:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    elif j==1:
        driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
    else:
        pass
    i=i+1

In [107]:
#creating a DataFrame for our data
Sneaker=pd.DataFrame({})
Sneaker['Brand-Name']=brand_name[:100]
Sneaker['Description of product']=description[:100]
Sneaker['Amount']=price[:100]
Sneaker['Discount on product']=discount[:100]

In [108]:
Sneaker

,Brand-Name,Description of product,Amount,Discount on product
0,World Wear Footwear,Combo Pack of 2 Latest Collection Stylish casu...,₹608,39% off
1,World Wear Footwear,Sneakers For Men,₹699,71% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
3,aadi,Sneakers For Men,₹298,70% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
95,Kraasa,Series 7 Sneakers For Men,₹499,52% off
96,GUSTO,Sneakers For Men,₹699,55% off
97,bluemaker,casual for men Sneakers For Men,₹474,77% off
98,Baogi,Sneakers for man Sneakers For Men,₹449,62% off
99,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,62% off

In [109]:
Sneaker[78:84]

,Brand-Name,Description of product,Amount,Discount on product
78,TR,Sneakers For Men,₹599,46% off
79,Numenzo,Casual Sneaker Sneakers For Men,₹539,60% off
80,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹398,55% off
81,believe,Sneakers for men(black_6) Sneakers For Men,₹446,27% off
82,SPARX,SM-482 Sneakers For Men,₹975,39% off
83,World Wear Footwear,Combo Pack of 2 Latest Collection Stylish casu...,₹608,50% off

# Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

In [110]:
driver = webdriver.Chrome(r'chromedriver.exe')
url=("https://www.myntra.com/shoes")
driver.get(url)
time.sleep(5)

In [111]:
#applying filter on the  price
driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
time.sleep(3)

In [112]:
#applying filter on the  colour
driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
time.sleep(3)

In [113]:
#creating empty list for storing the data
brand=[]
description=[]
price=[]

In [114]:
#scraping our data
    
i=0
while i<2:
    time.sleep(5)
        
    name=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for j in name:
            brand.append(j.text)
        
    dscrptn=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for x in dscrptn:
        description.append(x.text)
        
    prc=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for z in prc:
        price.append(z.text)
        
    driver.find_element_by_xpath('//a[@rel="next"]').click()    
    time.sleep(5)
    i=i+1

In [115]:
#creating a dataframe for our data
Shoes=pd.DataFrame({})
Shoes['Brand-Name']=brand[0:100]
Shoes['Shoes-Description']=description[0:100]
Shoes['Price']=price[0:100]

In [116]:
Shoes

,Brand-Name,Shoes-Description,Price
0,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
1,Nike,Women AIR ZOOM Running Shoes,Rs. 6996Rs. 9995( 30 % OFF)
2,Nike,Men AIR ZOOM Running Shoes,Rs. 7206Rs. 10295(30% OFF)
3,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
4,UNDER ARMOUR,Men Liquify Running Shoes,Rs. 8799Rs. 10999(20% OFF)
...,...,...,...
95,Puma,Men UltraRide Running Shoes,Rs. 7199Rs. 8999(20% OFF)
96,Nike,Men REACT MILER 2 Running,Rs. 9770Rs. 11495(15% OFF)
97,ADIDAS,Men Supernova Running Shoes,Rs. 7999Rs. 9999(20% OFF)
98,ALDO,Women Black Sneakers,Rs. 8999
99,Bugatti,Women Black Sneakers,Rs. 7999

In [121]:
Shoes[29:35]

,Brand-Name,Shoes-Description,Price
29,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
30,Puma,Unisex RS-X Pop Sneakers,Rs. 7999Rs. 9999(20% OFF)
31,Puma,Women Eternity Nitro Running,Rs. 12999
32,Onitsuka Tiger,Unisex Big Logo Trainer,Rs. 10999
33,Cole Haan,Leather Sneakers,Rs. 10999
34,Onitsuka Tiger,Unisex Mexico 66 Paraty Sneakers,Rs. 6999

# Q10: Go to webpage https://www.amazon.in/.Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as mentioned

In [135]:
driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.amazon.in/")
driver.get(url)
time.sleep(5)

In [136]:
#searching laptop on the browser and then clicking search button
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
driver.find_element_by_xpath('//input[@type="submit"]').click()

In [137]:
#applying filter for i7- 
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a').click()
time.sleep(3)

Here, under CPU - intel core i9 is not showing, I tried changing keys also like "Laptops", still not showing. 
That's why i5 i have mentioned in this assignment

In [138]:
#applying filter for i5-  
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598162031"]/span/a').click()
time.sleep(3)

In [139]:
#creating empty list for saving data
title=[]
price=[]
rating=[]

In [140]:
#scraping the data

name=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in name:
    title.append(i.text)
    
amount=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for j in amount:
    price.append(i.text)
    
rate=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
for i in rate:
    rating.append(i.get_attribute('aria-label'))

In [141]:
#creating a dataframe for our data-
Laptop=pd.DataFrame({})
Laptop['Title of the Laptop']=title[:10]
Laptop['Price of Laptop']=price[:10]
Laptop['Rating given to product']=rating[:10]

In [142]:
Laptop

,Title of the Laptop,Price of Laptop,Rating given to product
0,Vaio SE14 NP14V3IN033P 14-inch( Intel Core i5-...,"ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",3.6 out of 5 stars
1,Vaio Z 14 inch/35.56 cm(Intel Core i7-11375H/3...,"ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",4.0 out of 5 stars
2,ASUS VivoBook 14 (2020) Intel Quad Core Pentiu...,"ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",3.2 out of 5 stars
3,Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...,"ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",4.4 out of 5 stars
4,Lenovo Ideapad S145 AMD Ryzen 3 3200U 15.6 inc...,"ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",4.8 out of 5 stars
5,"ASUS ROG Zephyrus G14, 14"" (35.6cms) FHD 120Hz...","ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",4.0 out of 5 stars
6,"AVITA Essential NE14A2INC433-CR 14"" (35.56cms)...","ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",4.4 out of 5 stars
7,"HP 15 AMD Athlon 15.6"" (39.62cms) HD Laptop (S...","ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",4.4 out of 5 stars
8,Lenovo Ideapad Slim 3 AMD Athlon Silver 3050U ...,"ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",3.9 out of 5 stars
9,"LifeDigital ZED AIR CX3 Laptop, 15.6"" (39.62 c...","ASUS VivoBook Ultra 15 AMD Ryzen 5 4500U 15.6""...",3.7 out of 5 stars